apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: testv2
  name: testv2
spec:
  replicas: 3
  selector:
    matchLabels:
      app: testv2
  strategy: {}
  template:
    metadata:
      labels:
        app: testv2
    spec:
      containers:
      - image: nginx
        name: nginx
        resources: {}
status: {}
