- name: Prepare ubuntu servers
  hosts: bastions
  become: true
  
  tasks:
    - name: Update all packages to their latest version
      ansible.builtin.apt:
        name: "*"
        state: latest

    - name: Nginx is installed
      ansible.builtin.apt:
        name: nginx
        state: latest
    
    - name: Make sure Nginx is running
      ansible.builtin.service:
        name: nginx
        state: started
