- name: Prepare ubuntu servers
  hosts: magi
  become: true

  tasks:
    - name: Update all packages to their latest version
      ansible.builtin.apt:
        name: "*"
        state: latest

    - name: Set Up Unattended Upgrades
      ansible.builtin.apt:
        name: unattended-upgrades
        state: latest
